body{
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "nav nav"
                          "cont1 sidebar"
                          "footer sidebar";

}

#nav {
background-color: red;
grid-area: nav;
}

#cont1 {
    background-color: blue;
    grid-area: cont1;
}

#sidebar {
    background-color: black;
    grid-area: sidebar;
}

#sidebar img {
    size: 10%;
}

#footer {
    background-color: brown;
    grid-area: footer;
}